/*
* @Author: Hoàng Thị Hương Giang
* @Date:   2017-08-24 16:36:17
* @Last Modified by:   Huong Giang
* @Last Modified time: 2017-09-06 02:55:10
*/
/* div{
    border: 1px solid black;
    background: red;
    color:yellow;
    height: 50px;
    width: 80px
} */
/* #container{
    position: relative;
    width: 400px;
    height: 400px;
    background: yellow;
}
#animate{
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
} */
.glyphicon-shopping-cart{
    font-size: 16px;
}
#logo{
    width: 88%;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
}
#slogan{
    padding-top: 20px;
}
.div-bcrumb{
    padding-top: 5px;
    padding-bottom: 0px;
    margin-top: -21px;
}
#main{
    background-color: #f5f5f5;
}
.bnt-sort{
    margin-left: 32%;

}
#green{
    background: green;
    color: white;
    padding: 3px 10px;
}
#red{
    background: red;
    color: white;
    padding: 3px 10px;
}
#violet{
    background: violet;
    color: white;
    padding: 3px 10px;
}
#yellow{
    background: yellow;
    color: white;
    padding: 3px 10px;
}
#orange{
    background: orange;
    color: white;
    padding: 3px 10px;
}
#blue{
    background: blue;
    color: white;
    padding: 3px 10px;
}
.show-size{
    border-top: 2px solid black;
    padding-top: 10px;
}
#suggest{
    display: none;
}
.tabcontent{
    margin-top: 30px;
    height: 330px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.tb-size{
    margin-top: 20px;
}
footer{
    border: 1px solid #275a73;
    padding: 20px 20px;
    margin-top: 20px;
    background-color: #275a73;
    color: white;
    text-align: center;
}
footer p.title-foo{
    letter-spacing: 2px;
    font-size: 15px;

}
footer p.text-justify{
    color: rgb(165, 164, 164);
}
.list-foo{
    list-style-type: none;
    padding-left: 0px;
}
.list-foo a{
    text-decoration: none;
    color: rgb(165, 164, 164);
    line-height: 30px;
}
a.icon-foo{
    color: white;
    margin-left: 10px;
}
